@media screen and (min-width:1050px) {

    
    body{

        background-image: url(walk.jpg);

        background-repeat: no-repeat;
        min-height: 100vh;
        padding-top: 3%;
        padding-bottom: 3%;
        background-size: cover;

        /*background-image: linear-gradient(rgb(176, 212, 124),
                                          rgb(216, 236, 185), 
                                          rgb(223, 247, 187),
                                          #e1e1e1);        */

    }
    
    
    @keyframes border_ani {
        from {
            border-color: rgba(0,0,0,0);            
        }
    }
    
    @keyframes link_ani {    
        0% {
            transform: translateY(-200px) translateX(100px) scale(0.01);
            opacity: 0;
        }
    }
    
    @keyframes logo_ani {        
        0% {
            opacity: 0;
            transform: translateY(-100px) scaleY(0.01);
        }
    }
    
    @keyframes header_ani {
        0% {  
            transform: translateY(100px) scale(0.01) ;    
        }    
    }
    
    @keyframes image_ani {
        0% {
            opacity: 0; 
            transform: translateX(-150px) ;
            border-radius: 100px;
        }        
    }
     
    
    
    




    .header_grid {   
        /*
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, .3);
        background-image: linear-gradient(#f0f7e0,rgb(212, 212, 123),rgb(221, 221, 155)/*,#ca9968 );
        border-radius: 25px 25px 5px 5px;
        border: 4px groove #FFE47E;*/
        animation: header_ani 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-animation: header_ani 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);  
        animation-fill-mode: backwards;  
        -webkit-animation-fill-mode: backwards;                   
    }       
    
    #scenery_image {
        z-index: 0;
        animation: image_ani 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-animation: image_ani 1.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;  
    }
    
    #logo_image {
        z-index: 1;
        animation: logo_ani 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-animation: logo_ani 1s cubic-bezier(0.075, 0.82, 0.165, 1);  
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
        animation-fill-mode: backwards;  
        -webkit-animation-fill-mode: backwards;
        border: 4px groove #FFE47E;
    }
    



    .toolbar_grid {  

        background-image: linear-gradient(#8d6031, #926534, #916435,#8d6031);     
        border-radius: 7px;                              
        border-right: 4px ridge #af8d72;
        border-bottom: 4px ridge #af8d72;        
        animation: link_ani 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-animation: link_ani 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-delay: 0.125s;
        -webkit-animation-delay: 0.125s;
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .5);
    }
    
     .toolbar_link {
        
        font-family: 'Montserrat';
        font-weight: bold;                
        font-size: 11pt;        
        animation: border_ani 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-delay: 0.65s;
        -webkit-animation: border_ani 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-animation-delay: 0.65s;
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;
        border-right: 1px groove #c79c6a;        
        color: #e0e0e0;
        -webkit-text-fill-color: #FFFFCC;         
    }
    
    #submit_button_container {  

    }

    #submit_button {  
        animation: link_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);
        -webkit-animation: link_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;                        
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .4);
        border: rgba(0,0,0,0);        
        border-bottom: 4px ridge rgb(165, 209, 146); 
        font-weight: bold;
        font-size: 12pt;
        color: #ffffff;
        border-radius: 12px;
        font-family: 'Montserrat';     
        background-image: linear-gradient(rgb(158, 214, 135), rgb(164, 218, 141), rgb(82, 155, 50));
    }
    
    #submit_button:hover{
        border-top: 5px solid rgb(199, 236, 183);    
        background-image: linear-gradient(rgb(69, 110, 49), 
                                          rgb(132, 173, 114), 
                                          rgb(64, 117, 42));
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .6);
    }

    
    
    


    
    #spacer {
        display: grid;
        height: 50px;
    }
    
    a:link { 
        color: #000000; 
        text-decoration: none; 
    } 
    
    a:visited { 
        color: #000000; 
        text-decoration: none; 
    } 
    
    a:hover { 
        color: #000000; 
        text-decoration: underline; 
    }
}