
@media  (max-width: 800px) and (min-width: 525px) {


body {
    background-image: linear-gradient(#f3f3f3, #E2FFD5, #E2FFD5, 
                                        #AFEDDB, #AFEDDB,#f4f4f4,
                                        #f4f4f4, #e1e1e1);
    width: 100vw;
    height: 100vh;  
    display: grid;    
    grid-template-columns: minmax(auto,5vw) minmax(350px, auto) minmax(auto, 30vw) minmax(auto,5vw);
    grid-template-rows: 3fr minmax(250px,auto) minmax(250px,auto) 6fr;                
    grid-column-gap: 20px;  
}

@keyframes link_ani {

    0% {
        transform: translateX(-100px) scaleX(0.1);
        opacity: 0;
    }
}

@keyframes logo_ani {
    
    from {
        z-index: -1;
        width: 0%;
        opacity: 0;
        transform: translateX(-100px) scaleX(0.1);
    }
}

@keyframes header_ani {
    from {
        z-index: -1;    
        transform: translateX(300px) scaleX(0.1) ;    
        border-radius: 150px;      
        opacity: 0;
    }
}

@keyframes image_ani {
    from {
        opacity: 0; 
        border-bottom-left-radius: 400px;
        border-bottom-right-radius: 400px;
        transform: translateY(150px) scaleY(0.1);   
    }

}

a {
color: #e0e0e0;
-webkit-text-fill-color: #FFFFCC; 
}

#header_container {  
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, .6);
    background-image: linear-gradient(  
    #e0edbe,#FFFFCC,#FFFFCC, 
    #FFFFCC,#FFFFCC,#FFFFCC, 
    #FFFFCC,#FFFFCC,#FFFFCC, 
    #FFFFCC,#FFFFCC,#FFFFCC,  
    #FFFFCC,#FFFFCC,#FFFFCC,
    #FFE47E,#996633 );
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: 2px groove #FFE47E;
    border-left: 2px groove #FFE47E;
    z-index: 2;    
    animation: header_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);
    -webkit-animation: header_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);  
    animation-fill-mode: backwards;  
    -webkit-animation-fill-mode: backwards; 
    grid-column: 2;
    grid-row: 2/ span 2;
}

#header {        
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 5fr;   
    display: grid;
    text-align: center;
    align-items: center; 
    justify-items: center;   
}


.image{    
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;  
    width:100%; 
    min-height: 100%;                   
}


input{    
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .4);
    border: rgba(0,0,0,0);        
    border-bottom: 4px ridge rgb(165, 209, 146);    
    color: #172510;
    border-radius: 12px;
    font-family: 'Montserrat';     
    background-image: linear-gradient(rgb(158, 214, 135), rgb(164, 218, 141), rgb(82, 155, 50));

}

input:hover{
    border-top: 5px solid rgb(199, 236, 183);    
    background-image: linear-gradient(rgb(146, 185, 128), 
                                    rgb(132, 173, 114), 
                                    rgb(64, 117, 42));
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .6);
}

#links_grid_container { 
    grid-column: 3;
    grid-row: 2/ span 2;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;        
    height: 100%;        
    align-items: baseline;        

}

#links_grid {       
    background-image: linear-gradient(#8d6031, #926534, #916435,#8d6031);     
    border-radius: 7px;                            
    border-right: 4px ridge #af8d72;        
    text-align: center;
    align-content: center;
    animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
    -webkit-animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .4);
    display: grid;
    grid-template-rows: repeat(7, 1fr); 
    grid-template-columns: auto;
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;  
}

#main_link {
    font-family: 'Montserrat';
    font-weight: bold;                
    font-size: 10pt;         
    padding: 15px 15px;
    border-bottom: 1px groove #be9464;
    animation: border_ani 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 0.65s;
    -webkit-animation: border_ani 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation-delay: 0.65s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}





.logo {

    min-width: 40%;
    max-width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #996633;
}




.submit_button {
    animation: link_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);
    -webkit-animation: link_ani 0.6s cubic-bezier(.27,1.29,.39,1.07);
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-fill-mode: backwards;
    -webkit-animation-fill-mode: backwards;
}



.submit_button{
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input {        
    width: 100%;
    height: 80%;
}

}


