@media  (max-width: 800px) and (min-width: 526px) {


    body {
        background-image: linear-gradient(#f3f3f3, #E8FFC6,#E8FFC6, #D9FFA2, #D9FFA2, 
                                        #E8FFC6, #FFFCDF,#FFFCDF,
                                        #f4f4f4, #e1e1e1);
        size: auto;
        display: grid;    
        grid-template-areas: "hd tbr"
                             "sb tbr";
        grid-auto-columns: auto auto;
        grid-auto-rows: auto auto auto;
        margin: 20% 5% 20% 5%;
        padding: 5% 2.5% 20% 2.5%;
        grid-gap: 30px;
    }
    
    @keyframes link_ani {
    
        0% {
            opacity: 0;
            transform: translateX(-200px) /*scaleX(0.01)*/;            
        }
        99% {
            z-index: -2;
        }
    }
    
    @keyframes logo_ani {
        
        from {
            opacity: 0;
            transform: translateX(-150px) scaleX(0.01) ;
        }
    }
    
    @keyframes header_ani {
        from { 
            opacity: 0;
            transform: translateX(-300px) scaleX(0.01) ;                    
        }
    }
    
    @keyframes image_ani {
        from {
            opacity: 0;                        
            transform: translateY(150px) scaleY(0.01);   
        }
    
    }
    
    
    
    .header_grid {  
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, .6);
        background-image: linear-gradient(  
        #e0edbe,#FFFFCC,#FFFFCC, 
        #FFFFCC,#FFFFCC,#FFFFCC, 
        #FFFFCC,#FFFFCC,#FFFFCC, 
        #FFFFCC,#FFFFCC,#FFFFCC,  
        #FFFFCC,#FFFFCC,#FFFFCC,
        #FFE47E,#996633 );
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-right: 2px groove #FFE47E;
        border-left: 2px groove #FFE47E;
        z-index: 1;    
        animation: header_ani 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-animation: header_ani 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
        animation-fill-mode: backwards;  
        -webkit-animation-fill-mode: backwards; 
        grid-area: hd;      
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 5fr;   
        display: grid;
        text-align: center;
        align-items: center; 
        justify-items: center;   
    }
    
    
    #scenery_image{    
        border-bottom-left-radius: 15px; 
        border-bottom-right-radius: 15px;  
        width:100%; 
        min-height: 100%;   
        z-index: 3;                
    }

    #logo_image {    
        z-index: 1;
        min-width: 40%;
        max-width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #996633;
    }
            
    
    .toolbar_grid{       
        background-image: linear-gradient(#a57541, #8d6031, #916435,#a57541);     
        border-radius: 7px;                            
        border: 4px double #aa8465;        
        animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
        -webkit-animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
        animation-delay: 0.15s;
        -webkit-animation-delay: 0.15s;
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .4);
        display: grid;
        grid-template-rows: repeat(7, auto); 
        grid-template-columns: auto;
        height: 100%;
        grid-area: tbr;
    }    
    
    .toolbar_link {     
        border-bottom: 3px groove #a8866a;    
        display: inline-flex;
        align-items: center;
        justify-content: center;
        
        height: 100%;
    }
     .toolbar_link:hover{
        background-image: linear-gradient(rgb(206, 141, 67), rgb(221, 165, 120), rgb(206, 141, 67));
    }
    
    a {
        font-family: 'Montserrat';
        font-size: 10pt;
        color: #e0e0e0;
        -webkit-text-fill-color: #FFFFCC; 
    }
   
    
    
  
    
    
    
    #submit_button_container {
             
        
        animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
        -webkit-animation: link_ani 0.5s cubic-bezier(.27,1.29,.39,1.07);
        animation-delay: 0.1s;
        -webkit-animation-delay: 0.1s;
        animation-fill-mode: backwards;
        -webkit-animation-fill-mode: backwards;
        grid-area: sb;
        width: 100%;  
        min-height: 150px;
        margin: 0;
        padding: 0;
    }

    #submit_button{
        margin: 0;
        padding: 0;
        box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, .4);
        border: rgba(0,0,0,0);        
        border-bottom: 4px ridge rgb(165, 209, 146);    
        color: white;
        border-radius: 12pt;
        font-family: 'Montserrat';   
        font-weight: bold;         
        background-image: linear-gradient(rgb(158, 214, 135), rgb(164, 218, 141), rgb(82, 155, 50));
        height: 100%;
        width: 100%;
    }
    
    #submit_button:hover{
        border-top: 5px solid rgb(199, 236, 183);    
        background-image: linear-gradient(rgb(146, 185, 128), 
                                        rgb(132, 173, 114), 
                                        rgb(64, 117, 42));
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, .6);
    }

    a:link { 
        color: #000000; 
        text-decoration: none; 
    } 
    
    a:visited { 
        color: #000000; 
        text-decoration: none; 
    } 
    
    a:hover { 
        color: #000000; 
        text-decoration: none;         
    }
    
}