@media screen and (min-width:1050px) {

    
    body{     
        
        
        
    }
    .page {
        margin: 15% 15% 45% 15%;
        size: auto;
        justify-content: center;
        justify-items: center; 
        align-items: center;
        display: grid;    
        grid-template-areas: "hd" "tbr" "sb";
        grid-auto-columns: 35vw;  
        grid-auto-rows: 35vw minmax(30px, 60px) minmax(30px, 60px) 35vw; 
        grid-row-gap: 30px;
    }

  
    #photo_banner {
        z-index: -1;
        position: fixed;    
        position: -webkit-sticky;
        position: sticky;
        top: 10%;     
        /*height: 100%;
        width: 100%;*/
        margin:auto;
        width:100%;
        padding: 20px 20px 20px 20px;  
        justify-items: center;
        align-items: center;             
        /*background-image: url("lake2.png");
        grid-area: hd;        
        grid-template-areas: "logo";
        grid-auto-columns: minmax(auto, 200px);
        grid-auto-rows: auto;*/
        display: flex;
        flex-wrap: wrap;
        
    }       
    
    #logo_image {          
        /*margin: 10vh;*/
        max-height: 60%;
        max-width: 60%;
        background-image: linear-gradient(rgb(252, 228, 144), rgb(255, 247, 204),rgb(255, 247, 204),rgb(255, 247, 204));     
        border-radius: 15px;
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        grid-area: hd;           
        padding: 20px;
    }

    .toolbar_grid {  
        height: 50px;
        grid-area: tbr;
        display: grid;
        grid-template-columns: repeat(7, auto);
        grid-template-rows: auto;
        justify-content: center;        
        padding: 0px 15px 0px 15px;
        align-items: center;
    }
    
    .toolbar_link {                      
        padding: 0px 15px 0px 15px;
        font-family: 'Montserrat';
        font-weight: bold;                
        font-size: 10pt;         
    }
    
    #submit_button_container {  
        position: flex;      
        align-self: flex-start;
        grid-area: sb;
    }

    #submit_button {  

        height: 50px;  
        min-width: 200px;
    }
    
    .navigation_container, .header_grid {
        grid-column: 1;       
    }  
}